.kalid-kort {
  width: 260px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  border-radius: 0;
  text-align: left;
}


.kalid-kort header {
  background: #0a2a43;
  padding: 0.8rem;
  margin: 0;
}

.kalid-kort header h2 {
  margin: 0;
  color: white;
  font-size: 1.3rem;
}


.kalid-kort figure {
  margin: 0;
  padding: 0;
}

.kalid-kort img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

/* TEKST UNDER BILDET */
.kalid-kort figcaption,
.kalid-kort p,
.kalid-kort a {
  margin: 0.4rem 0 0 0;
  padding-left: 0.8rem; 
  text-decoration: none;
  display: block;
}
